:root {
    --cw: white;
    --bold: bold;
    --bn: none;
    --br: 15px;
}

body {
    margin: 0 auto;
}

.grids {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    border: none;
    border-radius: 15px;
    gap: 2em;
    margin: 0 auto;
    margin-top: 10px;
    padding: 25px;
    background-color: #FFB084;
    width: 80%;
    justify-content: center;
    font-family: 'Work Sans', sans-serif;
}

.im {
    margin: 0 auto;
    display: flex;
    width: 50%;
}

.grids > div h1{
    text-align: center;
    font-size: 30px;
    padding: 15px 0 15px 0;
}

div.grids > :nth-child(1) {
    background-color: var(--cw);
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 1;
    overflow: hidden;
    grid-row-end: 10;
    display: block;
    width: 100%;
    border-radius: 25px;
    box-shadow: 10px 10px rgb(0, 0, 0);    
}


div.grids > :nth-child(2) {
    background-color: var(--cw);
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 10;
    grid-row-end: 12;
    box-shadow: 10px 10px rgb(0, 0, 0);
    overflow: hidden;
}

div.grids > :nth-child(3) {
    background-color: var(--cw);
    grid-column-start: 3;
    grid-column-end: -1;
    grid-row-start: 1;
    grid-row-end: 4;
    border-radius: 25px;
    box-shadow: 10px 10px rgb(0, 0, 0);
    overflow: hidden;
}

div.grids > :nth-child(4) {
    background-color: var(--cw);
    grid-column-start: 3;
    grid-column-end: 5;
    grid-row-start: 4;
    overflow: hidden;
    grid-row-end: 8;
    border-radius: 25px;
    box-shadow: 10px 10px rgba(41, 167, 30, 1);
}

div.grids > :nth-child(5) {
    background-color: var(--cw);
    grid-column-start: 3;
    grid-column-end: 5;
    grid-row-start: 8;
    overflow: hidden;
    grid-row-end: 12;
    border-radius: 25px;
    box-shadow: 10px 10px rgba(54, 117, 176, 1);
}

div.grids > :nth-child(6) {
    background-color: var(--cw);
    grid-column-start: 5;
    grid-column-end: -1;
    grid-row-start: 4;
    grid-row-end: 9;
    border-radius: 25px;
    overflow: hidden;
    box-shadow: 10px 10px rgba(225, 53, 53, 1);
}

div.grids > :nth-child(7) {
    background-color: var(--cw);
    grid-column-start: 5;
    grid-column-end: -1;
    grid-row-start: 9;
    grid-row-end: 12;
    border-radius: 25px;
    overflow: hidden;
    box-shadow: 10px 10px rgb(0, 0, 0);
}

/*Блок №1*/

.blocks {
    margin: 0 auto;
    width: 100%;
    font-size: 21px;
}

.firstrow-block{
    display: flex;
    width: 95%;
    padding-left: 5%;
    font-family: 'Work Sans sans-serif';
    font-weight: 400;
}

.p-one {
    width: 30%;
}

.p-two {
    width: 70%;
}

div.blocks > :nth-child(2), div.blocks > :nth-child(3), div.blocks > :nth-child(4), div.blocks > :nth-child(5) {
    font-family: 'Work Sans sans-serif';
    font-weight: 400;
    padding-left: 5%;
    padding-bottom: 2%;
    font-size: 21px;
}


div.blocks span {
    font-weight: 600;
}

/*Блок №2*/

.second-block {
    display: flex;
    text-align: center;
    font-weight: var(--bold);
    font-size: 20px;
    border: var(--bn);
    border-radius: var(--br);
    padding: 3% 15% 3% 5%;
    
}

/*Блок №3*/

.third-block {
    font-family: 'Work Sans sans-serif';
    padding: 5%;
}

.fourth-block, .fifth-block, .sixth-block {
    font-family: 'Work Sans sans-serif';
    padding: 5% 20% 0 5%;
}

.third-block > :first-child {
    font-weight: var(--bold);
    font-size: 20px;
}

.third-block > :nth-child(2) {
    padding-top: 4%;
    font-size: 22px;
}

/*Блок №4*/

.fourth-block > :first-child {
    font-weight: var(--bold);
    font-size: 20px;
    color: rgba(41, 167, 30, 1);
}

div.fourth-block >:nth-child(2) ul li, div.fifth-block >:nth-child(2) ul li, div.sixth-block >:nth-child(2) ul li   {
    font-size: 21px;
}

/*Блок №5*/

.fifth-block > :first-child {
    font-weight: var(--bold);
    font-size: 20px;
    color: rgba(54, 117, 176, 1);
}

/*Блок №6*/

.sixth-block > :first-child {
    font-weight: var(--bold);
    font-size: 20px;
    color: rgba(54, 117, 176, 1);
}

.sixth-block > :first-child {
    font-weight: var(--bold);
    font-size: 20px;
    color: rgba(225, 53, 53, 1);
}

/*Блок №7*/

.seventh-block {
    font-family: 'Work Sans sans-serif';
    padding: 5% 20% 2% 5%;
}

.seventh-block > :first-child {
    font-weight: var(--bold);
    font-size: 20px;
    padding-bottom: 2%;
}

div.seventh-block > :nth-child(2), div.seventh-block > :nth-child(3) {
    font-size: 19px;
} 